BACK_END/__pycache__/
BACK_END/env/
.idea

FRONT_END/node_modules/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FRONT_END/node_modules
FRONT_END/.pnp
FRONT_END/.pnp.js

# testing
FRONT_END/coverage

# production
FRONT_END/build

# misc
FRONT_END/.DS_Store
FRONT_END/.env.local
FRONT_END/.env.development.local
FRONT_END/.env.test.local
FRONT_END/.env.production.local

FRONT_END/npm-debug.log*
FRONT_END/yarn-debug.log*
FRONT_END/yarn-error.log*

